<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.rawr" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivities.Welcome_screen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivities.LogIn_screen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".MainActivities.SignUp_screen"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivities.LogIn_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivities.Downloading_screen"
            android:configChanges="orientation"
            android:label="@string/title_activity_downloading_window"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivities.CreatePet_screen"
            android:label="@string/title_activity_create_pet_window" >
        </activity>
        <activity
            android:name=".MainActivities.Loading_screen"
            android:label="@string/title_activity_create_pet_window" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivities.Newsfeed_screen"
            android:label="@string/title_activity_newsfeed_window"
            >
        </activity>
        <activity
            android:name=".MainActivities.sign_up_add_photo_screen"
            android:label="@string/title_activity_sign_up_add_photo_window" >
        </activity>
        <activity
            android:name=".MainActivities.Owner_Profile_screen"
            android:label="@string/title_activity_owner__profile_window" >
        </activity>
        <activity
            android:name=".MainActivities.Configuration_screen"
            android:label="@string/title_activity_configuration_screen" >
        </activity>
    </application>

</manifest>
